body {
    background-color: aqua;
}

img {

display: block;
margin-right: auto;
margin-left: auto;
border-radius: 20px;
}


p {

 font-size: 50pt;
 text-align: center;
}

h1{

    text-align: center;

}