body {
    background-color: teal;
}

img {

display: block;
margin-right: auto;
margin-left: auto;
border-radius: 20px;
width: 500px;
}


.indexcss p {

 font-size: 30pt;
 text-align: center;
}

.aboutcss p {

    font-size: 30pt;
    text-align: center;
   }
   
h1{

    text-align: center;
    font-size: 60pt;

}

.head {

}


.topnav {

    background-color: mediumseagreen;
    overflow: hidden;
}

.topnav a{

    float: left;
    color: mintcream;
    text-align: center;
    padding: 14px 16px;
    text-decoration: seagreen;
    font-size: 30px ;
}

.topnav a:hover{

background-color: yellowgreen;
color: steelblue;

}


h2{

    text-align: center;
font-size: 60px;
}


h3{

    text-align: center;
    font-size: 60px;


}


h4{


    text-align: center;
    font-size: 60pt;




}




.row{ 


    display:flex;
}



@media screen and (max-device-width:60em){ 
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15em !important;
    }


}

h6{

    text-align: center;
    font-size: 60pt;    

}


.techno{

padding-left: 4em ;


}


.triste{


    padding-left: 4em;
}





